* {
    box-sizing: border-box;
    margin: auto;
     font-family: 'Rubik', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}



a {
    color: #e38cb7;
}

a:hover,
a:focus {
    color: white;
}